<div class="card mt-5">
    <div class="card-body">
        <h4>Leave a comment</h4>
        <p>You can leave a comment using this comment form</p>

        <form>
            <div class="form-group">
                <label for="">Name</label>
                <input type="text" class="form-control" placeholder="Enter your name here">
            </div>

            <div class="form-group">
                <label for="">Comment</label>
                <textarea name="" id="" cols="30" rows="10" class="form-control" placeholder="Add your comment here"></textarea>
            </div>

            <button class="btn btn-info btn-theme">Add a comment</button>
        </form>
    </div>
</div>