<section class="mt-5">
    <div class="container mt-5 mb-5 p-5 bg-theme">
        <h1 class="text-white text-center">About Us</h1>

        <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis tempore consectetur voluptas soluta fugiat vitae mollitia obcaecati ratione assumenda hic! Soluta deleniti minima dolores, dicta nesciunt neque asperiores maxime repellat.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis tempore consectetur voluptas soluta fugiat vitae mollitia obcaecati ratione assumenda hic! Soluta deleniti minima dolores, dicta nesciunt neque asperiores maxime repellat.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis tempore consectetur voluptas soluta fugiat vitae mollitia obcaecati ratione assumenda hic! Soluta deleniti minima dolores, dicta nesciunt neque asperiores maxime repellat.</p>

            <div class="text-center">
                <button class="btn btn-info btn-sm mt-4 btn-theme">Back to home</button>
            </div>
        </div>
    </div>
</section>