/* You can add global styles to this file, and also import other style files */
:root{
    --primary-color:#026467 !important;
    --secondary-color:#F5F5EA !important;
    --body-text-color:#596392 !important;
    --navbar-footer-color:#F9F9F9 !important;
}

