/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
    --primary-color:#026467 !important;
    --secondary-color:#F5F5EA !important;
    --body-text-color:#596392 !important;
    --navbar-footer-color:#F9F9F9 !important;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: var(--body-text-color);
}

// reusable styles
.site-logo{
    padding: 5px 20px;
    border-radius: 20px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-size: 1.2em;
}

.nav-link{
    color: var(--primary-color) !important;
}