<div class="card ">
    <img src="https://images.unsplash.com/photo-1661956600684-97d3a4320e45?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwyNnx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60" alt="post image" class="card-img-top">
    <div class="card-body">
        <small class="bg-light text-danger text-center">Design</small>
        <small class="bg-light text-success text-center ml-3">Featured</small>
        <small class="bg-light text-info text-center ml-3">Views - 777,777</small>

        <h5 class="mt-1">HOW TO START A BLOG IN 2023 EDITED NEW CATEGORY</h5>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis voluptates recusandae libero iusto dolore, minus sapiente ea iure, asperiores debitis voluptas similique rem laborum! Distinctio iusto accusamus expedita dicta veritatis vero debitis quibusdam quidem laborum assumenda quaerat, dolorum aperiam accusantium nobis ad, odio maiores a cupiditate placeat ut consequatur. Unde.</p>

        <small class="bg-light text-warning text-center ml-3">LAST UPDATED - MAY 27, 2023</small>

    </div>
</div>